<html>
  <head>
  </head>
  <body>
    <h1>Sponsors</h1>
    <p>Fedora package sponsors</p>

    <ul>
      <li><a href="#interests">Sponsors by areas of interest</a></li>
      <li><a href="#languages">Sponsors by native language</a></li>
      <li><a href="#regions">Sponsors by region</a></li>
      <li><a href="#timezones">Sponsors by timezone</a></li>
      <li><a href="#all">All sponsors</a></li>
    </ul>

    <div id="interests">
      <h2>Sponsors by areas of interest</h2>
      {% for interest, _sponsors in interests.items() %}
      <h3>{{ interest }}</h3>
      <ul>
        {% for sponsor in _sponsors %}
          <li>
            <a href="#{{ sponsor['username']}}"> {{ sponsor['human_name'] }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <div id="languages">
      <h2>Sponsors by native language</h2>
      {% for language, _sponsors in languages.items() %}
      <h3>{{ language }}</h3>
      <ul>
        {% for sponsor in _sponsors %}
          <li>
            <a href="#{{ sponsor['username']}}"> {{ sponsor['human_name'] }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <div id="regions">
      <h2>Sponsors by region</h2>
      {% for region, _sponsors in regions.items() %}
      <h3>{{ region }}</h3>
      <ul>
        {% for sponsor in _sponsors %}
          <li>
            <a href="#{{ sponsor['username']}}"> {{ sponsor['human_name'] }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <div id="timezones">
      <h2>Sponsors by timezone</h2>
      {% for timezone, _sponsors in timezones.items() %}
      <h3>{{ timezone }}</h3>
      <ul>
        {% for sponsor in _sponsors %}
          <li>
            <a href="#{{ sponsor['username']}}"> {{ sponsor['human_name'] }}</a>
          </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <div id="all">
      <h2>All sponsors</h2>
      {% for sponsor in sponsors %}
      <div class="sponsor" id="{{ sponsor['username'] }}">
        <h3>{{ sponsor['human_name'] }}</h3>
        <table>
          <tr><th>Username:</th><td>{{ sponsor['username'] }}</td></tr>
          <tr><th>Email:</th><td>{{ sponsor['emails'] | join(', ') }}</td></tr>
          {% if sponsor['ircnicks'] %}
          <tr><th>IRC nick:</th><td>{{ sponsor['ircnicks'] | join(', ') }}</td></tr>
          {% endif %}
          <tr><th>Timezone:</th><td>{{ sponsor['timezone'] }}</td></tr>
          <tr>
            <th>Profile:</th>
            <td>
              <a href="https://accounts.fedoraproject.org/user/{{ sponsor['username']}}">
                https://accounts.fedoraproject.org/user/{{ sponsor['username']}}
              </a>
            </td>
          </tr>
        </table>
      </div>
      {% endfor %}
    </div>

  </body>
</html>
