html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 320px;
}

h2 {
    margin-top: 30px;
}

.navbar {
    /* Borrowed from masthead class on */
    /* https://accounts.fedoraproject.org */
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px 2px #ddd;
    background-image: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    background-repeat: repeat-x;

    padding: 8px;
    margin-bottom: 20px;
}

.navbar img {
    margin-left: 10px;
    margin-right: 5px;
    width: 40px;
}

.sponsor, .card {
    border-top: 0px;
    border-right: 0px;
    margin-bottom: 30px;
    min-height: 100%;
}

.sponsor, .card img {
    text-align: center;
    margin-bottom: 15px;
}

.sponsor.card.muted,
.sponsor.card.muted table {
    color: var(--secondary);
}

.sponsor.card.muted img {
    filter: grayscale(100%);
}

.table-borderless td, .table-borderless th {
    border: none;
}

.footer {
    background-color: #495057;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
}

.footer a,
.footer span {
    /* Borrowed from https://accounts.fedoraproject.org */
    color: rgba(255,255,255,0.5);
    border-bottom: 1px dotted rgba(255,255,255,0.2);
}
