{% from "./helpers.html.j2" import url with context %}
{% extends "layout.html.j2" %}

{% block content %}
  <h1>Sponsors</h1>
  <p>Fedora package sponsors</p>
  <ul>
    <li><a href="{{ url('interests') }}">Sponsors by areas of interest</a></li>
    <li><a href="{{ url('languages') }}">Sponsors by native language</a></li>
    <li><a href="{{ url('regions') }}">Sponsors by region</a></li>
    <li><a href="{{ url('timezones') }}">Sponsors by timezone</a></li>
    <li><a href="{{ url('all') }}">All sponsors</a></li>
  </ul>
{% endblock %}
