{% extends "layout.html.j2" %}
{% block content %}
  <div id="interests">
    <h1>Sponsors by areas of interest</h1>
    {% for interest, _sponsors in interests.items() %}
    <h3>{{ interest }}</h3>
    <ul>
      {% for sponsor in _sponsors %}
        <li>
          <a href="./all.html#{{ sponsor.username }}"> {{ sponsor.human_name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endblock %}
