{% from "./helpers.html.j2" import sponsors_group %}
{% extends "layout.html.j2" %}

{% block content %}
  <div id="interests">
    <h1>Sponsors by areas of interest</h1>

    {% for interest, _sponsors in interests.items() %}
    {{ sponsors_group(interest, _sponsors) }}
    {% endfor %}
  </div>
{% endblock %}
