{% from "./helpers.html.j2" import sponsors_group %}
{% extends "layout.html.j2" %}

{% block content %}
  <div id="languages">
    <h1>Sponsors by native language</h1>

    {% for language, _sponsors in languages.items() %}
    {{ sponsors_group(language, _sponsors) }}
    {% endfor %}
  </div>
{% endblock %}
