{% from "./helpers.html.j2" import static_url, url with context %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ static_url('style.css') }}">

    <title>Fedora packager sponsors</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{{ url('') }}">
        <img src="{{ static_url('fedora-logo.png') }}">
        Fedora packager sponsors
      </a>
      <span class="navbar-nav mr-auto">
      </span>
      <ul class="navbar-nav mr-sm-2">
        <li class="nav-item">
            <a class="nav-link" href="{{ url('all') }}">
              All sponsors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('active') }}">
              Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('interests') }}">
              Interests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('languages') }}">
              Languages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('regions') }}">
              Regions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('timezones') }}">
              Timezones</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="footer py-4 text-white">
      <div class="container text-center">
        <div class="row footerlinks justify-content-center">
          <div class="col-sm-3 col-4 mt-3">
            <dl>
              <dt class="text-uppercase h5"><strong>This page</strong></dt>
              <dd>
                <!-- Timestamp: {{ build_timestamp }} -->
                <span>Last build: {{ build_tag }}</span>
              </dd>
              <dd><a href="https://github.com/FrostyX/fedora-sponsors">
                  Source code</a>
              </dd>
              <dd><a href="https://github.com/FrostyX/fedora-sponsors/issues">
                  Issues</a>
              </dd>
            </dl>
          </div>
          <div class="col-sm-3 col-4 mt-3">
            <dl>
              <dt class="text-uppercase h5"><strong>Contact</strong></dt>
              <dd><a href="https://github.com/FrostyX/fedora-sponsors/graphs/contributors">
                  Contributors</a>
              </dd>
              <dd><a href="https://libera.chat/guides/connect">
                  #fedora-buildsys</a>
              </dd>
            </dl>
          </div>
          <div class="col-sm-3 col-4 mt-3">
            <dl>
              <dt class="text-uppercase h5"><strong>Documentation</strong></dt>
              <dd><a href="https://fedoraproject.org/wiki/How_to_sponsor_a_new_contributor">
                  How to get sponsored</a>
              </dd>
              <dd><a href="https://fedoraproject.org/wiki/How_to_sponsor_a_new_contributor">
                  Become a sponsor</a>
              </dd>

              <dd><a href="https://docs.fedoraproject.org/en-US/fesco/Packager_sponsor_responsibilities/">
                  Sponsor responsibilities</a>
              </dd>
            </dl>
          </div>
        </div>
        <div class="py-3 text-muted">
          <p>© 2021 Red Hat, Inc. and others.</p>
        </div>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
