{% from "./helpers.html.j2" import sponsors_group %}
{% extends "layout.html.j2" %}

{% block content %}
  <div id="regions">
    <h1>Sponsors by region</h1>

    {% for region, _sponsors in regions.items() %}
    {{ sponsors_group(region, _sponsors) }}
    {% endfor %}
  </div>
{% endblock %}
