{% from "./helpers.html.j2" import sponsors_group, toc %}
{% extends "layout.html.j2" %}

{% block content %}
  <div id="timezones">
    <h1>Sponsors by timezone</h1>

    {{ toc(timezones.keys()) }}
    {% for timezone, _sponsors in timezones.items() %}
    {{ sponsors_group(timezone, _sponsors) }}
    {% endfor %}
  </div>
{% endblock %}
