{% extends "layout.html.j2" %}
{% block content %}
  <div id="timezones">
    <h1>Sponsors by timezone</h1>
    {% for timezone, _sponsors in timezones.items() %}
    <h3>{{ timezone }}</h3>
    <ul>
      {% for sponsor in _sponsors %}
        <li>
          <a href="./all.html#{{ sponsor.username }}"> {{ sponsor.human_name }}</a>
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
{% endblock %}
